/* Reset de margens */
* {
    margin: 0;
}

/* Variáveis globais */
:root {
    --cor-primaria: #007bff;
    --cor-secundaria: #0056b3;
    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;
    --fonte-descricao: 'Open Sans', sans-serif;
}

/* Estilização do contêiner de livros */
.livros-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgb(248, 254, 255);
}

/* Estilização de cada livro */
.livro {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 255, 254);
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilização das imagens */
img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(7, 7, 7, 0.3);
}

/* Estilização do título */
.titulo {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 18px;
    font-weight: bold;
}

/* Estilização da descrição */
.descr {
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 9rem;
    text-align: left;
    font-family: var(--fonte-descricao);
    font-size: 15px;
}

/* Botão de adicionar livro */
.botao_adicionar {
    border: none;
    background-color: #fff;
}

.botao_adicionar a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(79, 204, 116);
    border: none;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--fonte-descricao);
}

.botao_adicionar a:hover {
    background-color: rgb(101, 255, 148);
    color: #000;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 12px;
    gap: 50px;
    background: linear-gradient(to left, #fced68, #fff6a3);
    box-sizing: border-box;
    height: 70px;  

}

.container-titulo-botao{
    display: flex;
    align-items: center;
    justify-content:left;
    gap: 20px;    
    width: 100%;
    padding-left: 20px;
}

/* Mensagem de sucesso */
.mensagem-sucesso {
    margin: 10px 0;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}


.mensagem-sucesso.escondida {
    opacity: 0;
}

/* Estilização do Swiper */
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.3;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 16px;
    font-weight: bold;
}

.swiper-button-next {
    right: 20px;
}

.swiper-button-prev {
    left: 20px;
}

/* Botões de deletar e editar */
.botoes-delete-editar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.botoes-delete-editar button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.botoes-delete-editar .delete {
    background-color: #f44336;
    color: white;
}

.botoes-delete-editar .editar {
    background-color: #4caf50;
    color: white;
}

/* Campo de busca */
.campo-busca {   
    display: flex;
    align-items: center;
    justify-content: left;      
    width: 100%;   
}

.input-busca {
    width: 300px;
    padding: 8px 0px 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px 0px 0px 20px;
    font-size: 14px;
    box-sizing: border-box;
    border-right: none;
}

.input-busca:focus {
    outline: none;   
}

/* Ícone de lupa */
.icone-lupa {    
    font-size: 20px;
    color: #555;
    pointer-events: none;
}

.container-icone-lupa {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #ccc;
    border-radius: 0px 20px 20px 0px;
    padding:4px;
    background-color: #fff;
    border-left: none;

}

.mensagem-nenhum-livro {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}